/* Margin */
.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.margin20 { margin: 20px; }
.margin50 { margin: 50px; }

/* Padding */
.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.padding50 { padding: 50px; }

/* Margin top */
.marginTop5 { margin-top: 5px; }
.marginTop10 { margin-top: 10px; }
.marginTop20 { margin-top: 20px; }
.marginTop50 { margin-top: 50px; }

/* Margin bottom */
.marginBottom0 { margin-bottom: 0; }
.marginBottom5 { margin-bottom: 5px; }
.marginBottom10 { margin-bottom: 10px; }
.marginBottom20 { margin-bottom: 20px !important; }

/* Margin left */
.marginLeft5 { margin-left: 5px; }
.marginLeft10 { margin-left: 10px; }
.marginLeft20 { margin-left: 20px; }

/* Margin right */
.marginRight5 { margin-right: 5px; }
.marginRight10 { margin-right: 10px; }
.marginRight20 { margin-right: 20px; }

/* Padding top */
.paddingTop5 { padding-top: 5px; }
.paddingTop10 { padding-top: 10px; }
.paddingTop20 { padding-top: 20px; }

/* Padding bottom */
.paddingBottom5 { padding-bottom: 5px; }
.paddingBottom10 { padding-bottom: 10px; }
.paddingBottom20 { padding-bottom: 20px; }

/* Padding left */
.paddingLeft5 { padding-left: 5px; }
.paddingLeft10 { padding-left: 10px; }
.paddingLeft20 { padding-left: 20px; }

/* Padding right */
.paddingRight5 { padding-right: 5px; }
.paddingRight10 { padding-right: 10px; }
.paddingRight20 { padding-right: 20px; }

.loading-spinner {
  width: 200px;
  height: 200px;
  background-image: url('../img/spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.loading-spinner-medium {
  width: 100px;
  height: 100px;
  background-size: 64px 64px;
}

.loading-spinner-small {
  width: 32px;
  height: 32px;
  background-size: 20px 20px;
}

.preserve-whitespace {
  white-space: pre;
}

.inherit-fore-color {
  color: inherit;
}
