/* Colored icons */
.iconRed { color: #FA4D4D; }
.iconGreen { color: #3D8A36; }

div.lm_content {
  overflow-y: auto;
  background-color: white;
}

li.lm_active {
  color: #fff !important;
  background-color: #428BCA !important;
  box-shadow: none !important;
}

li.lm_active .lm_close_tab {
  color: white !important;
}

.lm_item .lm_header .lm_tab {
  border-radius: 4px 4px 0 0;
  height: 24px !important;
  line-height: 26px;
  font-size: 14px !important;
}

.lm_header .lm_tab .lm_close_tab {
  top: 9px !important;
}

ul.nav-tabs li, ul.nav-pills li {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.medium-padding {
  padding: 10px 15px;
}

.measurementTable {
  padding: 0 20px;
}

.measurementTable th, .measurementTable th:hover {
  background-color: #F5F5F5 !important;
}

form[name=patientForm] .ng-invalid.ng-dirty, .ng-invalid.ng-pristine {
  border-color: #FA787E;
}

form[name=patientForm] .ng-invalid.ng-dirty.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 120, 126, .6);
}

.loading-spinner {
  width: 200px;
  height: 200px;
  background-image: url('../img/spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
}
