.iconRed {
  color: #FA4D4D;
}

.iconGreen {
  color: #3D8A36;
}

ul.nav-tabs li, ul.nav-pills li {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.medium-padding {
  padding: 10px 15px;
}

form[name=patientForm] .ng-invalid.ng-dirty, .ng-invalid.ng-pristine {
  border-color: #FA787E;
}

.red-fore-color {
  color: #D55757;
}

form[name=patientForm] .ng-invalid.ng-dirty.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 120, 126, .6);
}

.logo-bottom-right {
  width: 200px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

div.component {
  position: relative;
  height: 100%;
}

.alarms-badge {
  background: #D55757 !important;
}

h1 {
  font-size: 30px !important;
  margin-top: 10px !important;
}

.medium-width-limit {
  max-width: 738px !important;
}

.highcharts-markers image {
  cursor: pointer;
}

.visibility-hidden {
  visibility: hidden;
}

.table-vcenter td {
  vertical-align: middle !important;
}

.borderless tbody tr td, .borderless thead tr th {
  border: none !important;
}

.tab-panel {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.lm_header, .nav-tabs {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
