div.lm_content {
  overflow-y: auto;
  background-color: white;
}

li.lm_active {
  color: #fff !important;
  background-color: #428BCA !important;
  box-shadow: none !important;
}

li.lm_active .lm_close_tab {
  color: white !important;
}

.lm_item .lm_header .lm_tab {
  border-radius: 4px 4px 0 0;
  height: 24px !important;
  line-height: 26px;
  font-size: 14px !important;
}

.lm_header .lm_tab .lm_close_tab {
  top: 9px !important;
}

ul.nav-tabs li {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}


.medium-padding {
    padding: 10px 15px;
}

.btn-group {
  margin: 20px 0 0 20px;
}

.measurementTableContainer {
  width: 20% !important;
  float: left;
  margin-right: 4%;
}

#measurementTableContainerO2 {
  margin-left: 4%;
}

.measurementTable {
  padding: 0 20px;
}

.measurementTable th, .measurementTable th:hover {
  background-color: #F5F5F5 !important;
}
