body {
  padding: 30px;
  font-size: 24px !important;
}

header {
  text-align: right;
  padding-bottom: 30px;
}

#pageTitle {
  margin-bottom: 50px;
}

.alertBoxIcon {
  float: left;
  margin-right: 32px;
  margin-left: 16px;
}

#charts {
  width: 100%;
  margin-top: 100px;
}

.chartContainer {
  margin-bottom: 100px;
}

.preserve-whitespace {
  white-space: pre;
}
