<!DOCTYPE html>
<html lang="nb">
<head>
  <title>Angelika</title>
  <meta charset="utf-8">

  <!-- css -->
  <link href="css/login.css" rel="stylesheet">

  <!-- libs -->
  <script src="lib/angular/angular.min.js"></script>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="lib/simpleStorage/simpleStorage.js"></script>

  <script src="lib/jQuery/jquery.min.js"></script>

  <!-- highcharts -->
  <script src="lib/highcharts/highcharts-ng.js"></script>
  <script src="lib/highcharts/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/static.js"></script>

  <script src="js/services/auth.js"></script>

  <script src="js/controllers/login.js"></script>
</head>

<body ng-app="angelika">
<div class="container container-login" ng-controller="LoginCtrl">
  <form class="form-signin" ng-submit="login()">
    <h2 class="form-signin-heading">Logg inn</h2>
    <input type="text" class="input-block-level" placeholder="Brukernavn"
           ng-model="loginData.username" required>
    <input type="password" class="input-block-level" placeholder="Passord"
           ng-model="loginData.password" required>
    <button class="btn btn-large btn-primary" type="submit">Logg inn</button>
    <alert ng-show="loginFailed" type="danger">Feil brukernavn/passord</alert>
    <alert ng-show="serverError" type="danger">Får ikke kontakt med serveren</alert>
  </form>
</div>
</body>
</html>
