<!DOCTYPE html>
<html lang="nb">
<head>
  <title>Angelika</title>
  <meta charset="utf-8">
  <!-- css -->
  <link href="css/user-dashboard.css" rel="stylesheet">
  <link href="css/spacing.css" rel="stylesheet">

  <!-- libs -->
  <script src="lib/jQuery/jquery.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-locale_nb-no.js"></script>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="lib/simpleStorage/simpleStorage.js"></script>

  <!-- highcharts -->
  <script src="lib/highcharts/highcharts-ng.js"></script>
  <script src="lib/highcharts/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

  <script type="text/javascript">
    window.currentPage = 'user-dashboard.html';
  </script>

  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/static.js"></script>

  <!-- controllers, alphabetically -->
  <script src="js/controllers/user-dashboard.js"></script>

  <!-- services, alphabetically -->
  <script src="js/services/auth.js"></script>
</head>

<body ng-app="angelika" ng-controller="UserDashboardCtrl">
<header>
  <h1 style="float: left" class="marginTop5">Hei {{ patient.user.full_name }}!</h1>
  <button ng-click="logOut()" class="btn btn-danger btn-lg">Logg ut</button>
</header>

<div class="alert alert-warning" role="alert">
  <p>Er alt i orden? Ikke nøl med å ta kontakt hvis du trenger hjelp!<br>
    Telefonnummer: <a href="tel:23487676" style="color: inherit">23 48 76 76</a><br><!-- TODO: Er dette telefonnummeret riktig? -->
  </p>

  <div ng-if="!callRequest.registered">
    <p>
      Eller trykk her, så ringer vi deg:
      <button ng-click="registerCallRequest()" class="btn btn-default btn-lg">Ring meg</button>
    </p>
  </div>
  <div ng-if="callRequest.registered">
    <div class="alert alert-success">Det er registrert at du vil bli oppringt. Vi tar kontakt så snart som mulig.</div>
  </div>
</div>

<div ng-repeat="motivationalText in patient.motivation_texts">
  <div class="alert alert-success preserve-whitespace" role="alert">{{ motivationalText.text }}</div>
</div>

<div ng-repeat="informationText in patient.information_texts">
  <div class="alert alert-info preserve-whitespace" role="alert">{{ informationText.text }}</div>
</div>

<div id="charts">

  <div ng-if="patient.o2_access && chartO2Config.series[0].data.length">
    <strong>Oversikt over din oksygenmetning den siste uka:</strong>
    <highchart class="chartContainer" config="chartO2Config"></highchart>
  </div>

  <div ng-if="patient.pulse_access && chartHeartRateConfig.series[0].data.length">
    <strong>Oversikt over din puls den siste uka:</strong>
    <highchart class="chartContainer" config="chartHeartRateConfig"></highchart>
  </div>

  <div ng-if="patient.temperature_access && chartTempConfig.series[0].data.length">
    <strong>Oversikt over din temperatur den siste uka:</strong>
    <highchart class="chartContainer" config="chartTempConfig"></highchart>
  </div>

  <div ng-if="patient.activity_access && chartActivityConfig.series[0].data.length">
    <strong>Oversikt over din fysiske aktivitet den siste uka:</strong>
    <highchart class="chartContainer" config="chartActivityConfig"></highchart>
  </div>
</div>

</body>

</html>
