<div class="modal-header">
  <h4 class="modal-title">Håndter varsel</h4>
</div>

<div class="modal-body">
  <form novalidate role="form">
    <fieldset ng-disabled="posting">
      <table>
        <tr>
          <td>Tid:</td>
          <td>{{ alarm.time_created | date : 'dd.MM.yyyy kl. HH:mm' }}</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>
            {{ alarmReason[alarm.reason] }} {{ measurementType[alarm.measurement.type] }}
          </td>
        </tr>
        <tr ng-if="alarm.measurement.type !== 'C'">
          <td>Verdi:</td>
          <td>{{ alarm.measurement.value }} {{ measurementTypeUnit[alarm.measurement.type] }}</td>
        </tr>
        <tr ng-if="alarm.measurement.type !== 'C'">
          <td>Nåværende normalverdi:</td>
          <td>
            {{ getLowerThresholdValue() }}-{{ getUpperThresholdValue() }} {{ measurementTypeUnit[alarm.measurement.type] }}
          </td>
        </tr>
        <tr>
          <td>Håndtert:</td>
          <td><input type="checkbox" ng-model="alarm.is_treated"></td>
        </tr>
        <tr>
          <td>Notis:</td>
          <td><textarea rows="3" cols="50" ng-model="alarm.treated_text"></textarea></td>
        </tr>

        <tr ng-if="!editMode">
          <td>Legg inn ny motiverende tekst:</td>
          <td><textarea rows="3" cols="50" ng-model="motivationalText.text"></textarea></td>
        </tr>
        <tr>
          <td>Søkeord:</td>
          <td><input type="text" ng-model="alarm.search_tag" maxlength="50"></td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <div class="loading-spinner loading-spinner-small" ng-show="posting"></div>
  <button class="btn btn-primary" ng-click="ok()">Lagre</button>
  <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
</div>
