<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="text-center">
    <div class="btn-group container-fluid">
      <button type="button" class="btn btn-default btn-lg navbar-btn active">Varsler</button>
      <button type="button" class="btn btn-default btn-lg navbar-btn">Pasienter</button>
      <button type="button" class="btn btn-default btn-lg navbar-btn">Innstillinger</button>
    </div>
    <div class="pull-right">
      <button id="logout-btn" ng-click="logOut()" class="btn btn-default">Logg ut</button>
    </div>
  </div>
</nav>
<table class="table table-bordered table-striped table-hover table-responsive">
  <tr>
    <th>Tid</th>
    <th>Håndtert</th>
    <th>Notis</th>
  </tr>
  <tr ng-repeat="alarm in alarms">
    <td>{{ alarm.time_created }}</td>
    <td>{{ alarm.is_treated }}</td>
    <td>{{ alarm.treated_text }}</td>
  </tr>
</table>
