<div class="medium-padding">
  <div class="loading-spinner" ng-if="loadingAlarms"></div>
  <alert ng-show="!loadingAlarms && 0 === alerts.length" type="success">
    <span class="glyphicon glyphicon-ok"></span> Ingen varsler
  </alert>
  <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
  <table class="table table-bordered table-striped table-hover table-responsive" ng-show="alarms.length">
    <tr>
      <th>Navn</th>
      <th>Tid</th>
      <th>Type</th>
      <th>Håndtert</th>
    </tr>
    <tr ng-repeat="alarm in alarms"
        class="clickable"
        ng-click="openPatient(alarm.measurement.patient)"
        draggable-patient="alarm.measurement.patient">
      <td>{{ alarm.measurement.patient.user.full_name }}</td>
      <td>{{ alarm.time_created | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>{{ measurementType[alarm.measurement.type] }}</td>
      <td>{{ alarm.is_treated ? 'Ja' : 'Nei'}}</td>
    </tr>
  </table>
</div>
