<div class="medium-padding">
  <div class="loading-spinner" ng-if="loadingAlarms && alarms.length === 0 && numTicks === 0"></div>
  <alert ng-show="(!loadingAlarms || (loadingAlarms && numTicks > 0)) && 0 === alarms.length && !connectionLost" type="success">
    <span class="glyphicon glyphicon-ok"></span> Ingen varsler
    <span class="loading-spinner loading-spinner-extra-small" ng-show="loadingAlarms && numTicks > 0"></span>
  </alert>
  <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
  <table class="table table-bordered table-striped table-hover table-responsive medium-width-limit"
         ng-show="alarms.length">
    <tr>
      <th>Navn</th>
      <th>Tid</th>
      <th>Type</th>
      <th><span class="hidden-xs">Håndtert</span></th>
    </tr>
    <tr ng-repeat="alarm in alarms"
        class="clickable"
        ng-click="openPatient(alarm.measurement.patient)"
        draggable-patient="alarm.measurement.patient">
      <td>{{ alarm.measurement.patient.user.full_name }}</td>
      <td>{{ alarm.time_created | date:'dd.MM.yyyy kl. HH.mm'}}</td>
      <td>{{ alarmReason[alarm.reason] }} {{ measurementType[alarm.measurement.type] }}</td>
      <td>
        <span ng-if="alarm.is_treated">
          <span class="glyphicon glyphicon-ok green-fore-color"></span> <span class="hidden-xs">Ja</span>
        </span>
        <span ng-if="!alarm.is_treated">
          <span class="glyphicon glyphicon-warning-sign iconRed"></span> <span class="hidden-xs">Nei</span>
        </span>
      </td>
    </tr>
  </table>
  <button class="btn btn-default" ng-show="alarms.length && alarms.length == pageSize && pageSize < 500"
          ng-click="increasePageSize()">Vis flere varsler</button>
</div>
