<div class="container container-login">
  <form class="form-signin" ng-submit="login()">
    <h2 class="form-signin-heading">Logg inn</h2>
    <input type="text" class="input-block-level" placeholder="Brukernavn"
           ng-model="loginData.username" required>
    <input type="password" class="input-block-level" placeholder="Passord"
           ng-model="loginData.password" required>
    <button class="btn btn-large btn-primary" type="submit">Logg inn</button>
    <alert ng-show="loginFailed" type="danger">Feil brukernavn/passord</alert>
  </form>
</div>
