<div style="overflow-y: scroll; height: ">
  <h3> {{patient.name}} </h3>
  <p> Fødselsnummer: {{patient.national_identification_number}} </p>
  <p> Telefonnummer: {{patient.telephone}} </p>
  <p> Adresse: {{patient.address}} </p>
  <p> Alder: {{patient.age}} </p>
  <p> Pårørende: </p>
  <ol ng-repeat="person in patient.next_of_kin">
    <li>
      <p> {{person.name}} ({{person.telephone}}) </p>
      <p> {{person.address}} </p>
    </li>
  </ol>
  <p> Varsler: </p>
  <table class="table table-bordered table-striped table-hover table-responsive">
    <tr>
      <th>Tid</th>
      <th>Håndtert</th>
      <th>Notis</th>
    </tr>
    <tr ng-repeat="alarm in patient.alarms">
      <td>{{ alarm.time_created | date : 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{ alarm.is_treated ? 'Ja' : 'Nei' }}</td>
      <td>{{ alarm.treated_text }}</td>
    </tr>
  </table>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Motiverende beskjed:</h3>
    </div>
    <div class="panel-body">
      {{patient.motivational_note}}
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Info til pasienten:</h3>
    </div>
    <div class="panel-body">
      {{patient.information_note}}
    </div>
  </div>
</div>
