<form name="patientForm" novalidate ng-init="setFormScope(this)">
<fieldset ng-disabled="posting">
<tabset class="marginTop10">
<tab>
  <tab-heading>
    <i class="glyphicon glyphicon-info-sign"></i>
    Info om bruker
    <i class="glyphicon glyphicon-exclamation-sign red-fore-color"
       ng-hide="isInfoTabValid()"></i>
  </tab-heading>
  <div class="panel panel-default panel-body tab-panel">
    <label>Fornavn</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.user.first_name" class="form-control" required name="firstName"
               ng-minlength="2">
      </div>
    </div>

    <label>Etternavn</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.user.last_name" class="form-control" required name="lastName"
               ng-minlength="2">
      </div>
    </div>

    <label>Fødselsnummer</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.national_identification_number" class="form-control"
               required ng-minlength="11" ng-maxlength="11"
               ui-validate="'isNationalIdentificationNumberValid($value)'"
               name="nationalIdentificationNumber">
      </div>
    </div>

    <label>Telefonnummer</label>
    <div class="row">
      <div class="col-md-3">
        <input type="tel" ng-model="patient.phone_number" class="form-control" maxlength="14"
               ng-pattern="/^[0-9+\(\)#\.\s\/ext-]+$/" ng-minlength="3">
      </div>
    </div>

    <label>Adresse</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.address" class="form-control" maxlength="255">
      </div>
    </div>

    <label>Postnummer</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.zip_code" class="form-control"
               ng-minlength="4" ng-maxlength="4" maxlength="4">
      </div>
    </div>

    <label>Poststed</label>
    <div class="row">
      <div class="col-md-3">
        <input type="text" ng-model="patient.city" class="form-control" maxlength="120">
      </div>
    </div>
  </div>
</tab>

<tab>
  <tab-heading>
    <i class="glyphicon glyphicon-th-list"></i>
    Normalverdier
    <i class="glyphicon glyphicon-exclamation-sign red-fore-color"
       ng-hide="isThresholdValuesTabValid()"></i>
  </tab-heading>
  <div class="panel panel-default panel-body tab-panel">
    <p>Det generes varsler hvis verdiene går utenfor disse grenseverdiene</p>

    <div class="row">
      <div class="col-md-3">
        <h4>O2-metning</h4>
      </div>
      <div class="col-md-3">
        <label class="control-label">Min (%)</label>
        <input type="number" ng-model="patient.o2_min" class="form-control"
               min="0" max="{{ patient.o2_max }}" required name="o2Min">
      </div>
      <div class="col-md-3">
        <label class="control-label">Maks (%)</label>
        <input type="number" ng-model="patient.o2_max" class="form-control"
               min="{{ patient.o2_min }}" max="100" required
               popover-placement="top"
               popover="Unntak: det genereres ikke varsler for O₂-målinger som går over denne verdien"
               popover-trigger="focus" name="o2Max">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>Puls</h4>
      </div>
      <div class="col-md-3">
        <label class="control-label">Min (slag/min.)</label>
        <input type="number" ng-model="patient.pulse_min" class="form-control"
               min="0" max="{{ patient.pulse_max }}" required name="pulseMin">
      </div>
      <div class="col-md-3">
        <label class="control-label">Maks (slag/min.)</label>
        <input type="number" ng-model="patient.pulse_max" class="form-control"
               min="{{ patient.pulse_min }}" max="240" required name="pulseMax">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>Temperatur</h4>
      </div>
      <div class="col-md-3">
        <label class="control-label">Min (°C)</label>
        <input type="number" ng-model="patient.temperature_min" class="form-control"
               min="0" max="{{ patient.temperature_max }}" required name="temperatureMin">
      </div>
      <div class="col-md-3">
        <label class="control-label">Maks (°C)</label>
        <input type="number" ng-model="patient.temperature_max" class="form-control"
               min="{{ patient.temperature_min }}" max="100" required name="temperatureMax">
      </div>
    </div>
  </div>
</tab>

<tab>
  <tab-heading>
    <i class="glyphicon glyphicon-check"></i>
    Synlige målinger
  </tab-heading>
  <div class="panel panel-default panel-body tab-panel">
    <div class="col-md-6">
      <h3>Synlig for bruker</h3>

      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.activity_access">Aktivitetsmålinger</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.o2_access">O₂-metning</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.pulse_access">Puls</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.temperature_access">Temperatur</label>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Synlig for helsepersonell</h3>

      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.show_activity">Aktivitetsmålinger</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.show_o2">O₂-metning</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.show_pulse">Puls</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="patient.show_temperature">Temperatur</label>
      </div>
    </div>
  </div>
</tab>

<tab>
  <tab-heading>
    <i class="glyphicon glyphicon-envelope"></i>
    Meldinger
  </tab-heading>
  <div class="panel panel-default panel-body tab-panel">
    <h3>Motiverende tekster</h3>

    <div ng-repeat="motivationalText in patient.motivation_texts">
      <div class="row marginBottom20">
        <div class="col-md-5">
          <textarea ng-model="motivationalText.text" class="form-control" rows="2"/>
        </div>
        <div class="col-md-4">
          <div ng-show="!motivationalText.isRecording && !motivationalText.isConvertingToMp3">
            <button ng-click="startRecording(motivationalText)" class="btn btn-default"
                    ng-disabled="soundRecorder.isInitializing">
              <i class="glyphicon glyphicon-record red-fore-color"></i>
              Spill inn {{ motivationalText.sound ? 'ny ' : '' }}talebeskjed
            </button>
            <div ng-show="motivationalText.isInitializing">
              Venter på tilgang til mikrofonen (du må tillate dette)...
              <span class="loading-spinner loading-spinner-extra-small"></span>
            </div>
            <div ng-show="!motivationalText.sound && soundRecorder.isInitialized">
              <i class="glyphicon glyphicon-ok green-fore-color"></i>
              Det er klart for lydopptak
            </div>
          </div>

          <button class="btn btn-default" ng-click="stopRecording(motivationalText)" ng-show="motivationalText.isRecording">
            <i class="glyphicon glyphicon-stop orange-fore-color"></i> Stopp
          </button>
          <progressbar ng-show="motivationalText.isRecording"
                       class="progress-striped active marginTop10" max="soundRecorder.MAX_RECORD_TIME"
                       value="elapsedRecordingTime" type="danger">
            {{ elapsedRecordingTime / 1000 | number: 1 }} / {{ soundRecorder.MAX_RECORD_TIME / 1000 }} s
          </progressbar>
          <progressbar ng-show="motivationalText.isConvertingToMp3"
                       class="progress-striped active" max="1" value="1" type="success">
            Prosesserer lydopptaket...
          </progressbar>
          <audio controls ng-if="motivationalText.sound.base64" class="marginTop10">
            <source ng-src="{{ trustAsResourceUrl('data:audio/mp3;base64,' + motivationalText.sound.base64) }}"
                    type='audio/mp3'>
          </audio>
          <audio controls ng-if="motivationalText.sound.url" class="marginTop10">
            <source ng-src="{{ trustAsResourceUrl(motivationalText.sound.url) }}" type='audio/mp3'>
          </audio>
        </div>
        <div class="col-md-3">
          <button ng-click="removeMotivationalText($index)" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Fjern
          </button>
        </div>
      </div>
    </div>
    <button ng-click="addMotivationalText()" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span> Legg til ny motiverende tekst
    </button>

    <h3>Informative meldinger til bruker</h3>

    <div ng-repeat="infoText in patient.information_texts">
      <div class="row marginBottom20">
        <div class="col-md-9">
          <textarea ng-model="infoText.text" class="form-control"/>
        </div>
        <div class="col-md-3">
          <button ng-click="removeInfoText($index)" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Fjern
          </button>
        </div>
      </div>
    </div>
    <button ng-click="addInfoText()" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span> Legg til ny informativ tekst
    </button>
  </div>
</tab>

<tab>
  <tab-heading>
    <i class="glyphicon glyphicon-user"></i>
    Pårørende
    <i class="glyphicon glyphicon-exclamation-sign red-fore-color"
       ng-hide="isNextOfKinTabValid()"></i>
  </tab-heading>
  <div class="panel panel-default panel-body tab-panel">
    <div class="panel panel-default panel-body" ng-repeat="contact in patient.next_of_kin">
      <h4 ng-show="$index === 0"><span class="glyphicon glyphicon-star"></span> Hovedpårørende</h4>
      <h4 ng-hide="$index === 0">Pårørende</h4>

      <div class="form-group">
        <label>
          Navn
          <input type="text" ng-model="contact.full_name" class="form-control" required maxlength="160"
                 name="contact[{{ $index }}].fullName" ng-minlength="2">
        </label>
      </div>
      <div class="form-group">
        <label>
          Telefon
          <input type="tel" ng-model="contact.phone_number" class="form-control" required maxlength="16"
                 name="contact[{{ $index }}].phoneNumber" ng-pattern="/^[0-9+\(\)#\.\s\/ext-]+$/" ng-minlength="3">
        </label>
      </div>
      <div class="form-group">
        <label>
          Rolle
          <input type="text" ng-model="contact.relation" class="form-control" required maxlength="40"
                 name="contact[{{ $index }}].relation" ng-minlength="2">
        </label>
      </div>
      <div class="form-group">
        <label>
          Adresse
          <input type="text" ng-model="contact.address" class="form-control" maxlength="250">
        </label>
      </div>

      <button ng-click="removeNextOfKin($index)" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span> Fjern
      </button>
      <div class="btn-group">
        <button ng-click="moveNextOfKinUp($index)" class="btn btn-default" ng-if="!$first">
          <span class="glyphicon glyphicon-chevron-up"></span> Flytt opp
        </button>
        <button ng-click="moveNextOfKinDown($index)" class="btn btn-default" ng-if="!$last">
          <span class="glyphicon glyphicon-chevron-down"></span> Flytt ned
        </button>
      </div>
    </div>
    <button ng-click="addNextOfKin()" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span> Legg til pårørende
    </button>
  </div>
</tab>
</tabset>

<br>
<alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
<button class="btn btn-primary btn-lg"
        ng-click="validateForm(patientForm.$valid) && save()"
        ng-disabled="patientForm.$pristine || soundRecorder.isRecording || soundRecorder.isConvertingToMp3">
  <span class="glyphicon glyphicon-floppy-disk"></span> Lagre
</button>
<button class="btn btn-warning btn-lg"
        ng-click="resetForm()"
        ng-if="patientBeforeChanges.id"
        ng-disabled="patientForm.$pristine || soundRecorder.isRecording || soundRecorder.isConvertingToMp3">
  <span class="glyphicon glyphicon-remove"></span> Tilbakestill
</button>
<button class="btn btn-warning btn-lg"
        ng-click="closeTab()"
        ng-if="!patientBeforeChanges.id">
  <span class="glyphicon glyphicon-remove"></span> Avbryt
</button>
<div class="loading-spinner loading-spinner-small" ng-show="posting"></div>
<br><br>
</fieldset>
</form>
