YO
<tabset>
  <tab heading="Info" ng-controller="PatientInfoCtrl">
    <div ng-include="'templates/patient-info.html'"></div>
  </tab>
  <tab heading="Grafer" ng-controller="PatientGraphsCtrl" select="tabSelected()">
    <div ng-include="'templates/patient-graphs.html'"></div>
  </tab>
  <tab heading="Lister" ng-controller="PatientListsCtrl">
    <div ng-include="'templates/patient-lists.html'"></div>
  </tab>
  <tab heading="Rediger" ng-controller="PatientFormCtrl">
    <div ng-include="'templates/patient-form.html'"></div>
  </tab>
</tabset>
