<h1>Grafer</h1>

<div class="btn-group">
  <label class="btn btn-primary" ng-model="chartRange.days"
         btn-radio="1" ng-change="updateChartRange()">Dag</label>
  <label class="btn btn-primary" ng-model="chartRange.days"
         btn-radio="7" ng-change="updateChartRange()">Uke</label>
  <label class="btn btn-primary" ng-model="chartRange.days"
         btn-radio="31" ng-change="updateChartRange()">Måned</label>
  <label class="btn btn-primary" ng-model="chartRange.days"
         btn-radio="365" ng-change="updateChartRange()">År</label>
</div>

<highchart config="chartO2Config"></highchart>
<br/><br/>
<highchart config="chartHeartRateConfig"></highchart>
<br/><br/>
<highchart config="chartTempConfig"></highchart>
<br/><br/>
<highchart config="chartActivityConfig"></highchart>
