<div class="medium-padding">
  <div class="input-group medium-width-limit">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search">
      </span>
    </span>
    <input type="search" ng-model="search.$" class="form-control"
           placeholder="Søk etter bruker" ng-focus="searchHasFocus = true" ng-blur="searchHasFocus = false">
  </div>

  <div class="loading-spinner" ng-show="loadingPatients"></div>
  <alert ng-if="serverError" type="danger" class="marginTop10">Serverfeil: Kunne ikke laste inn brukere</alert>
  <alert ng-show="!loadingPatients && 0 === filteredPatients.length" class="marginTop10">Ingen søkeresultater</alert>
  <div class="panel panel-default panel-body marginTop10 medium-width-limit" ng-show="searchHasFocus && !search.$">
    <div class="glyphicon glyphicon-info-sign search-tip-icon blue-fore-color"></div>
    <div style="float: left;">
      Du kan søke på fødselsnummer, navn eller fødselsdato (format DD.MM.ÅÅÅÅ)
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover table-responsive marginTop10 medium-width-limit"
         ng-show="patients.length && filteredPatients.length && search.$">
    <tr>
      <th>Navn</th>
      <th>Fødselsnummer</th>
      <th>Alder</th>
    </tr>
    <tr ng-repeat="patient in filteredPatients = (patients | filter:search)"
        ng-click="openPatient(patient)"
        class="clickable"
        draggable-patient="patient">
      <td>{{ patient.user.full_name }}</td>
      <td>{{ patient.national_identification_number }}</td>
      <td>{{ patient.age }} {{ patient.age ? 'år' : 'Ukjent' }}</td>
    </tr>
  </table>
</div>
