<div class="medium-padding">
  <div class="input-group medium-width-limit">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search">
      </span>
    </span>
    <input type="search" ng-model="search.$" class="form-control"
           placeholder="Søk etter bruker" ng-focus="searchHasFocus = true" ng-blur="searchHasFocus = false">
  </div>

  <div class="loading-spinner" ng-show="loadingPatients"></div>
  <alert ng-if="serverError" type="danger" class="marginTop10">Serverfeil: Kunne ikke laste inn brukere</alert>

  <div class="panel panel-default panel-body marginTop10 medium-width-limit"
       ng-show="searchHasFocus && search.$.length < 3">
    <div class="glyphicon glyphicon-info-sign search-tip-icon blue-fore-color"></div>
    <div style="float: left;">
      <span ng-show="search.$.length === 0">
        Du kan søke på fødselsnummer, navn eller fødselsdato (format DD.MM.ÅÅÅÅ)
      </span>
      <span ng-show="search.$.length < 3">
        Skriv inn minst tre tegn
      </span>
    </div>
  </div>

  <div ng-if="patients.length && search.$.length >= 3">
    <alert ng-show="!loadingPatients && 0 === filteredPatients.length" class="marginTop10 medium-width-limit">
      Ingen søkeresultater
    </alert>
    <table class="table table-bordered table-striped table-hover table-responsive marginTop10 medium-width-limit"
           ng-show="filteredPatients.length">
      <tr>
        <th>Navn</th>
        <th>Fødselsnummer</th>
        <th>Alder</th>
      </tr>
      <tr ng-repeat="patient in patients | filter:search.$ as filteredPatients"
          ng-click="openPatient(patient)"
          class="clickable"
          draggable-patient="patient">
        <td>{{ patient.user.full_name }}</td>
        <td>{{ patient.national_identification_number }}</td>
        <td>{{ patient.age }} {{ patient.age ? 'år' : 'Ukjent' }}</td>
      </tr>
    </table>
  </div>

</div>
