<div class="row">
  <h1 class="col-sm-12">{{ patient.user.first_name }} {{ patient.user.last_name }}</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table table-responsive table-bordered">
        <tr>
          <td width="120px">Fødselsnummer</td>
          <td>{{ patient.national_identification_number }}</td>
        </tr>
        <tr>
          <td>Alder</td>
          <td>{{ patient.age }} {{ patient.age ? 'år' : 'Ukjent' }}</td>
        </tr>
        <tr>
          <td>Telefonnummer</td>
          <td>
            <a ng-if="patient.phone_number" ng-href="tel:{{ patient.phone_number | nospace }}"
               class="inherit-fore-color">
              {{ patient.phone_number }}
            </a>
            <i ng-if="!patient.phone_number">Ikke spesifisert</i>
          </td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>
            <i ng-hide="patient.address || patient.zip_code || patient.city">Ikke spesifisert</i>
            <a ng-href="http://maps.google.no/?q={{patient.address}}, {{patient.zip_code}} {{patient.city}}, Norway"
               target="_blank">
              {{ patient.address }}{{ (patient.zip_code || patient.city) ? ', ' : '' }}{{ patient.zip_code }} {{ patient.city }}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default panel-body" ng-if="!patient.next_of_kin.length">
      Ingen pårørende er registrert
    </div>
    <div class="panel panel-default" style="margin-bottom:15px;"
         ng-repeat="contact in patient.next_of_kin | limitTo: nextOfKinLimit">
      <div class="panel-body" ng-class="{ 'main-next-of-kin': $index === 0 }" style="padding: 12px">
        <p ng-show="$index === 0"><span class="glyphicon glyphicon-star"></span> Hovedpårørende:</p>
        <p ng-hide="$index === 0">Pårørende:</p>
        <p class="list-group-item-heading">
          <span class="glyphicon glyphicon-user"></span>
          {{ contact.full_name }} <span class="label label-info" ng-show="contact.relation">{{ contact.relation }}</span>
        </p>
        <p class="list-group-item-text" ng-show="contact.phone_number">
          <span class="glyphicon glyphicon-earphone"></span>
          <a ng-href="tel:{{ contact.phone_number | nospace }}" class="inherit-fore-color">
            {{ contact.phone_number }}
          </a>
        </p>
        <p class="list-group-item-text" ng-show="contact.address">
          <span class="glyphicon glyphicon-map-marker"></span>
          <a ng-href="http://maps.google.no/?q={{contact.address}}" target="_blank">{{ contact.address }}</a>
        </p>
      </div>
    </div>
    <button class="btn btn-default" ng-click="showAllNextOfKin()"
            ng-if="nextOfKinLimit === 1 && patient.next_of_kin.length > 1">Vis alle pårørende</button>
  </div>
</div>

<h4>Varsler:</h4>
<div class="loading-spinner loading-spinner-medium" ng-if="loadingAlarms && !loadingPatient"></div>
<alert ng-show="!loadingAlarms && 0 === alarms.length" type="success">
  <span class="glyphicon glyphicon-ok"></span> Ingen varsler
</alert>
<alert type="danger" ng-show="!loadingAlarms && !alarms">Kunne ikke laste inn varsler</alert>
<table class="table table-bordered table-striped table-responsive table-vcenter" ng-if="alarms.length > 0">
  <tr>
    <th>Tid</th>
    <th>Type</th>
    <th>Håndtert</th>
    <th>Rediger</th>
    <th class="hidden-sm hidden-xs">Notis</th>
    <th class="hidden-xs">Søkeord</th>
  </tr>
  <tr ng-repeat="alarm in alarms">
    <td>{{ alarm.time_created | date : 'dd.MM.yyyy kl. HH.mm' }}</td>
    <td>{{ alarmReason[alarm.reason] }} {{ measurementType[alarm.measurement.type] }}</td>
    <td>
      <span ng-if="alarm.is_treated">
        <span class="glyphicon glyphicon-ok green-fore-color"></span> Ja
      </span>
      <span ng-if="!alarm.is_treated">
        <span class="glyphicon glyphicon-warning-sign iconRed"></span> Nei
      </span>
    </td>
    <td>
      <button class="btn btn-default" ng-click="open(null, $index)">
        <span class="glyphicon glyphicon-edit"></span>
        <span ng-if="alarm.is_treated" class="hidden-xs">Endre</span>
        <span ng-if="!alarm.is_treated" class="hidden-xs">Merk som håndtert</span>
      </button>
    </td>
    <td class="preserve-whitespace hidden-sm hidden-xs">{{ alarm.treated_text }}</td>
    <td class="hidden-xs">{{ alarm.search_tag }}</td>
  </tr>
</table>

<div class="panel panel-success" ng-if="patient.motivation_texts.length">
  <div class="panel-heading">
    <h3 class="panel-title">Motiverende beskjeder:</h3>
  </div>
  <div class="marginTop20 marginLeft20 marginRight20" ng-class="{'marginBottom20': $last}"
       ng-repeat="motivationalText in patient.motivation_texts">
    <div class="preserve-whitespace">{{ motivationalText.text }}</div>
    <audio controls ng-if="motivationalText.sound.url">
      <source ng-src="{{ trustAsResourceUrl(motivationalText.sound.url) }}" type='audio/mp3'>
    </audio>
    <hr ng-if="!$last" class="marginBottom0">
  </div>
</div>

<div class="panel panel-info" ng-if="patient.information_texts.length">
  <div class="panel-heading">
    <h3 class="panel-title">Informative beskjeder:</h3>
  </div>
  <div class="marginTop20 marginLeft20 marginRight20 preserve-whitespace" ng-class="{'marginBottom20': $last}"
       ng-repeat="infoText in patient.information_texts">{{ infoText.text }}<hr ng-if="!$last" class="marginBottom0"></div>
</div>
