<div class="container" style="width: inherit">
  <div class="row">
    <div ng-repeat="list in filteredLists = (lists | filter:shouldShow)"
         ng-class="{
            'col-md-3': 4 === filteredLists.length,
            'col-md-4': 3 === filteredLists.length,
            'col-md-6': 2 === filteredLists.length,
            'col-md-12': 1 === filteredLists.length
           }">
      <h2>{{ list.header }}</h2>
      <div ng-if="list.showThresholdValues" class="marginBottom10">
        Nåværende normalverdier: {{ getThresholdValue(list, false) }}-{{ getThresholdValue(list, true) }}
      </div>

      <div class="panel panel-default panel-body"
           ng-if="!list.loading && !list.data.length && !list.loadingFailed">
        Ingen målinger
      </div>
      <alert type="danger" ng-if="list.loadingFailed">Kunne ikke laste målinger</alert>
      <table class="table table-hover measurementTable" ng-if="list.data.length">
        <tr class="active">
          <th>Tid</th>
          <th>Måling</th>
        </tr>
        <tr ng-repeat="measurement in list.data | orderBy: '-x'">
          <td>{{ millisToUTCDate(measurement.x) | date: list.dateFormat }}</td>
          <td ng-click="openAlertHandling(measurement)"
              ng-class="{'danger clickable': measurement.alarm}">{{ measurement.y }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
