<div class="form-group has-feedback">
  <input type="text" class="form-control" ng-model="search.$" placeholder="Søk" />
  <i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>

<table class="table table-bordered table-striped table-hover table-responsive">
  <tr>
    <th>Navn</th>
    <th>Personnummer</th>
    <th>Alder</th>
  </tr>
  <tr ng-repeat="user in users | filter:search">
    <td>{{ user.user.full_name }}</td>
    <td>{{ user.national_identification_number}}</td>
    <td>{{ user.age }} år</td>
  </tr>
</table>

